:root{
    /*
    "Space Cadet":"1f2041","Space Cadet 2":"35305a","Cyber Grape":"4b3f72","Maximum Yellow Red":"ffc857","Viridian Green":"119da4","Metallic Seaweed":"158191","Blue Sapphire":"19647e","Teal Blue":"2e728a","Teal Blue 2":"417f95","Blue Munsell":"528b9f"
    */

    --color1: #ffc857;
    --color2: #417f95;
    --color3: #19647e;


}

.flex{
    display: flex; align-items: center; justify-content: center;
    gap:2vmin;
}
.flex-col{ flex-direction: column; }

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    overflow-x: hidden;
    padding: 0; margin:0;
    background-color: var(--color1);
}

nav{
    position: fixed;
    left:0;
    /* border: 3px solid #333; */
    /* border-left: none; */
    border-radius: 10px 0 0 0;
    padding: 0 2vmin;
    background-color: #eee;
    box-shadow: 0 0 10px #555;
    width:3vw;
    min-width: 30px;
    height: 100vh;
}

nav svg{
    width:2vw;
    min-width: 39px;
    padding:3vmin 0;
    /* height: 5vw; */
}
header{
    text-align: center;
    
}

a{
    text-decoration: none;
    color:#333;
}
.homeWrapper{
    margin-left:10vw ;
    height: 100vh;
}
.headers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:100%;
    align-items:center;
    padding: 10vh 0 5vmin 0;
}
#headerName{
    font-size: 3.5rem;
    color:#333;
    margin:0;
}

#shoName{
    color:var(--color3);
    font-weight: 600;
}

#headerTxt{
    font-size: 2rem;
    color:#333;
    font-weight: 100;
}
#frontDev{
    font-weight: 700;
    font-size: 2rem;
}

.photos{
    position: relative;
}

.slide{
    position: absolute;
    right:-50vw;
    top:20vh;
    gap:0;
    animation: sliderAni 3s;
    animation-delay: var(--photoDelay);
}
@keyframes sliderAni {
    0%{
        right:-50vw;
    }
    20%{
        right:10vw;
    }
    50%{
        right:10vw;
        /* transform: scale(1.1); */
    }
    80%{
        right:10vw;
        opacity: 1;
    }
    100%{
        right:50vw;
        opacity: 0;

    }
}
.bg-slide{
    height:20vmin;
    width:20%;
    background-color: white;
}
.photo-slide{
    width:30vw;
    border-radius: 5vmin;
    margin:0;
    border:5px solid #19647e;

}
.toProjsWrapper{
    display: flex;
    height:10vmin;
    padding-top: 3vmin;
}

#toProjs{
    /* margin-top: 3vmin; */
    padding:2vmin 3vmin;
    height:5vmin;
    line-height: 5vmin;
    font-size: 1.5rem;
    background-color: #19647e;
    border:3px solid #eee;
    color:#eee;
    border-radius: 10px;
    /* transition: 1s; */
    animation: toProjsAni 1s  alternate infinite;
}

@keyframes toProjsAni {
    100%{margin-top: -1vmin;
        margin-bottom: 1vmin;}
}





.projsWrapper{
    padding:3.9vw;
    display:flex;
    flex-wrap: wrap;
    gap:2vmin;
    justify-content: space-evenly;
    margin-left: 3vw;
    align-items: baseline;
}
.projCard{
    min-width: 300px;
    margin-bottom: 3vmin;
}
.projImg{
    min-width: 300px;
    width: 25vw;
    border-radius: 30px;
    box-shadow: 0px 0px 3px #333;
    transition: 0.5s;
}
.projImg:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.projTxt{
    width:25vw;
    min-width: 250px;
}
.projDes{
    color:#333;
    display: none;
}
.projTitle{
    margin: 1vmin 0;
    padding:2vmin 3vmin 0 3vmin;
    font-weight: 600;
    font-size: 1.5rem;
    justify-content: space-between;

}
.projTitle svg{
    width:2vw;
    min-width: 30px;
    cursor: pointer;
}
.projBtns{
    width:100%;
    gap:0;
    justify-content: center;
    display: none;
}
.proTech{
    justify-content: flex-start;
    padding:0 3vmin;
    flex-wrap: wrap;
    gap:0;
}  
.proTech p{
    padding:0.25rem 0.75rem;
    margin:0.2rem;
    background-color: var(--color3);
    color:#eee;
    border-radius: 10px;
}
.codeLink:hover{
    transform: scale(1.2);
}
.codeLink{
    padding:1vmin 2vmin;
    margin:2vmin 1vmin;
    background-color: #333;
    color: var(--color1);
    border-radius: 10px;
}

.imgDes{
    width:3.9vmin;
    padding: 1.5vmin 3vmin;
}
.javaWrapper{
    background-color: #eee;
    border-radius: 50%;
    width:5vmin;
    height:5vmin;
    margin: 1.5vmin 3vmin;
}
.techStack{
    gap:1vmin;
    margin-bottom: 2vmin;
    justify-content: flex-start;
}
.techStack p{
   font-size: 1.2rem;
   color:#333;
   justify-content: flex-start;

}
.techStack{
    justify-content: flex-start;
    align-items: flex-start;
}
/* CONTACT tab */
.contactPg{
    display: flex;
    justify-content: space-around;
    padding:5vh 10vh;
    margin-top: 5vmin;
    margin-left: 5vw;
    background-color: #333;
    color:#ccc;
    box-shadow: 0 0 10px #555;

    /* background-image: url('../images/bg3.jpg'); */
}
.contactCol1{
    padding:1vmin 2vmin;
    backdrop-filter: blur(10px);
}
.contactCol1 h1{
    color:var(--color1);
    font-size: 3rem;
}
.contactCol1 p{
    font-size: 1.5rem;
}

.wordCloudImg{
    width:30vw;
}


.contactCol2{
    gap:1vmin;
}
.contactCol2 p{
    color:var(--color1);
}

.cvForm{
    border-radius: 5px;
    border: 2px solid var(--color1);
    padding: 5px 15px;
    text-align: center;

    
}
.cvForm a{
    color:var(--color1);

     font-size: 1.5rem;
     font-weight: 600;text-align: center;
}
.cvForm:active, .contactIcon:active{
    transform: scale(0.8);
    box-shadow: 0px 0px 0px #eee;
}
.contactSection{
    margin:0;
    margin-bottom: 3vmin;
    /* gap:3vmin; */
    
}
.contactIcon{
    width:2vw;
    min-width: 30px;

}
.phone{
    letter-spacing: 0.1rem;
}

@media screen and (max-width:500px) {
    nav{
        overflow: hidden;
        width:auto;
        height:30px;
        position: sticky;
        top:0;
        flex-direction: row !important;
        justify-content: flex-end !important;
        gap:5vw !important;
        padding-right: 5vw !important;
        border-radius: 0;
    }
    nav svg{
        min-width:25px;
        padding:0; margin:0;
    }
    .headers{
        display: block;
        width:100%;
        height:100%;
        padding-top:10vh;
        margin:0;
    }
    .homeWrapper{
        padding:0;
        margin:0; 
        height:90vh; 
    }
    #headerTxt{
        font-size: 1rem;
    }
    #headerName,#shoName, #frontDev{
        font-size: 1.2rem;
    }
    #toProjs{
        font-size: 1rem;
    }
    .slide{
        top:60vh;
    }
    @keyframes sliderAni {
        0%{
            right:-10vw;
        }
        20%{
            right:33vw;
        }
        50%{
            right:33vw;
            /* transform: scale(1.1); */
        }
        80%{
            right:33vw;
            opacity: 1;
        }
        100%{
            right:100vw;
            opacity: 0;
    
        }
    }
    .contactPg{
        width:100%;
        height:80vh;
        padding: 0 2vw;
        margin: 0;
    }
    .wordCloudImg{
        padding:0;margin:0;
        display: none;
    }
    .contactCol1 p{
        font-size: 1rem;
    }
    .cvForm a{
        font-size: 1rem;
    }
}