/* ROOT */
:root{
    
    /* CSS HEX */
    --pine-tree: #1f271bff;
    --blue-sapphire: #19647eff;
    --verdigris: #28afb0ff;
    --dark-sea-green: #8ec187ff;
    --orange-yellow-crayola: #f4d35eff;
    --sandy-brown: #ee964bff;
    


    --tangerine: #f08700ff;
    --orange-web: #f49f0aff;
    --yellow-munsell: #efca08ff;
    --light-sea-green: #00a6a6ff;
    --columbia-blue: #bbdef0ff;

   
    --sage: #c9cba3ff;
    --peach: #ffe1a8ff;
    --terra-cotta: #e26d5cff;
    --catawba: #723d46ff;
    --old-burgundy: #472d30ff; 

}

body{
    background-color: #eee;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.flex{
    display:flex;
    justify-content: center;
    align-items: center;
}

.col{
    flex-direction: column;
}
.wrapper{
    flex:0 1 auto;
    gap:2vmin;
    margin-top:5vh;
    width:900px;
    height:600px;
   
}
.homeBody{
    background-image: linear-gradient(to right, #8ec187ff,rgb(127, 228, 114));
    width:100%;
    height:500px;
    border-radius: 5vmin;
    box-shadow: 0px 0px 5px #aaa;
    animation: appear 2s;
}


/* HEADER */
.header{
    gap:3vw;
    width: 100%;

}
.profile{
    gap:5vw;
    padding-right: 1vw;
}
#name{
    font-size:2.5rem;
    text-decoration: underline;
    letter-spacing: 0.2vw;
    font-weight: 600;
    font-family: Adobe Garamond Pro;
    color:var(--blue-sapphire);
}
.profileImg{
    width:clamp(70px, 10vw, 100px);
    height:clamp(70px, 10vw, 100px);
    border-radius: 50%;
    border: 5px solid var(--blue-sapphire);
}
.tabs{
    margin-right: auto;
    padding-left: 1vw;
    gap:1vw;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tab{
    text-align: center;
    width:10vw;
    max-width: 100px;
    border-radius: 5vmin;
    font-size: 1.2rem;
    color:#fff;
    cursor:pointer;
}

.tab1{
    background-color: var(--dark-sea-green);
    background-image: linear-gradient(to right, #8ec187ff,rgb(127, 228, 114));
}
.tab2{
    background-color: var(--yellow-munsell);
    /* background-image: linear-gradient(to right,rgb(255, 213, 59),rgb(228, 188, 46) ); */
}
.tab3{
    background-color: var(--sandy-brown);
    /* background-image: linear-gradient(to right, #ee964bff, rgb(216, 129, 52)); */
}
/* HOME tab */
.homePg, .contactPg{
    width: 100%;
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    display:none !important;
}

.col1{
    border-right: 0.5vmin dotted #eee;
    padding:3vmin 5vmin 5vmin 3vmin;
    position: relative;
}
.col2{
  padding:3vmin 5vmin 5vmin 3vmin;  
}
.col2 p{
    color:#333;
}
.txtTitle{
    background-color: #eee;
    border-radius: 15px;
    display:inline;
    padding:0 1vmin;
}
.items{
    list-style-type: none;
    padding:0;
    line-height: 5vmin;
}
.items > li{
    justify-content: flex-start;
    color:#333;
    font-weight: 600;
}
.txtDes{
    color:#eee;
    width: 20vmin;
}
.cvForm{
    cursor: pointer;
    border-radius: 0;
    margin:0;
    padding:1vmin;
    background-color: var(--orange-web);
    color:#eee;
    font-weight: 600;
    box-shadow: 1px 2px 3px #eee;
}
.cvForm:active{
    transform: scale(0.8);
    box-shadow: 0px 0px 0px #eee;
}
.projs{
    margin-top: 3vmin;
    width:10vmin;
    height:10vmin;
    border-radius: 50%;
    text-align: center;
    line-height: 10vmin;
    background-color: var(--verdigris);
    color:#fff !important;
}
.imgDes{
    width:3.9vmin;
    padding: 1.5vmin 3vmin;
}
.javaWrapper{
    background-color: #eee;
    border-radius: 50%;
    width:5vmin;
    height:5vmin;
    margin: 1.5vmin 3vmin;
}
.techStack{
    gap:3vmin;
    margin-bottom: 2vmin;

}
.techStack p{
   font-size: 1rem;
   font-weight: 500;
   color:#eee;
}

/* PROJECTS tab */
.wrapper{
    width:100%;
    height:100%;
    margin-top: 3vmin;
    margin-left: auto;
}
.header{
    justify-content: flex-end;

}
.tabs{
    margin-right: 5vmin;

}
.profile{
    display:none;
}


.projsWrapper{
    margin-top: 2vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:5vmin;
    align-items: baseline;
}
.projImg{
    height:18vw;
    border-radius: 30px;
    box-shadow: 0px 0px 2px #333;
}
.projTxt{
    width:20vw;
    height:18vw;
    
}
.projDes{
    flex-direction: column;
}
.projTitle{
    margin: 3vmin 0;
    padding:2vmin 0;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}
.projBtns{
    width:100%;
    gap:3vmin;
    justify-content: flex-end;
}  
.projBtnImg{
    width:2vw;
}
.projBtnImg:hover{
    transform: scale(1.2);
}
.projBtnImg:active{
    transform: scale(0.9);
}

/* CONTACT tab */
.contactPg{
    grid-template-columns: 1fr 5fr;
}

.contact{
    gap:3vmin;
    margin:10vmin;
    justify-content: flex-start;
}
.contact p{
    font-size: 2rem;
}
.imgContact{
    width:10vmin;
}